<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
    </head>
    <body>
        
        <header id="top">
            <img id="logo" src="image/logo.png" alt="logo">
            <div class="logout">
                <div class="dropdown">
            <h3 class="dropbtn">Hello Admin <i class="fa-solid fa-chevron-down"></i></h3>
                    <div class="dropdown-content">
                      <a href="#">Profile Page</a>
                      <a href="#">Setting</a>
                      <a href="#">Logout</a>
                    </div>
                  </div>
                <i class="fa-solid fa-envelope massege-icon"></i>
                <i class="fa-solid fa-bell"></i>
                
            </div>
           
        </header>
      
        <div class="dropdown">
        <button class="collapsed"><i class="fas fa-bars"></i></button>
        <div class="dropdown-content">
            <ul>
                <li><a>Setting</a></li>
                <li><a>Profile Page</a></li>
                <li><a>Masseges</a></li>
                <li><a>Notification</a></li>
                <li><a>Logout</a></li>
            </ul>
        </div>
        </div>
        <main class="main">
            <aside class="right-side">
                <ul>
                    <li><a href="manager.html">Home Page</a></li>
                    <li><a href="allStudent.html">Students</a></li>
                    <li><a href="teacher.html">Teacher</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Reports</a></li>
                    
                </ul>
            </aside>
            <section class="main-content">
            <section class="main-dash">
            <h1 class="main-header">Control Panel</h1>
            <section class="main-section">
                
                <div class="dashboard">
                    <h4>Students</h4>
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="dashboard">
                    <h4>Teachers</h4>
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="dashboard">
                    <h4>Courses</h4>
                    <i class="fa-solid fa-gear"></i>
                </div>
                <div class="dashboard">
                    <h4>Reports</h4>
                    <i class="fa-solid fa-gear"></i>
                </div>
            </section>
        </section>

            <aside class="left-side">
                <div class="moving-head">
                    <h2>Shortcuts</h2>
                </div>
            <ul>
                <li><a href="addStudent.html">Add new Student</a> <i class="fa-solid fa-plus left"></i></li>
                <hr class="vr">
                <li><a href="">Add new Teacher</a> <i class="fa-solid fa-circle-plus left"></i></li>
                <hr class="vr">
                <li><a href="">Add new Class</a><i class="fa-solid fa-plus left"></i></li>
                <hr class="vr">
                <li><a href="">Add new Course</a><i class="fa-solid fa-circle-plus left"></i></li>
                <hr class="vr">
            </ul>

            </aside>
            <hr class="divider">
            <aside class="icons">
                <i class="fa-solid fa-plus"></i>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash"></i>
                <i class="fa-solid fa-print"></i>
            </aside>
            </section>
        </main>

       <script>
            let i=0;
            function collapse(){
                
                if(i==0){
                    document.querySelector(".collapse-div").style.visibility= "visible";
                    i++;
                }
                else if(i==1){
                    document.querySelector(".collapse-div").style.visibility= "hidden";
                    i=0;
                }
                
               // document.querySelector(".dashboard").style.backgroundColor = "black";
            }
       </script>

    </body>
</html>